<footer class="p-4 bg-white mt-24 rounded-lg mb-0 w-full shadow-xl md:px-6 md:py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
        <a href="/" class="flex items-center mb-4 sm:mb-0">
            <img src="/logo.jpg" class="mr-3 h-10" alt="TheTrialBallCrickerters" />
            <span class="self-center text-2xl whitespace-nowrap text-slate-700 italic font-serif font-bold">TheTrialBallCricketers</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0">
            <li>
                <a href="/" class="mr-4 hover:underline md:mr-6 ">Home</a>
            </li>
            <li>
                <a href="/news/explore" class="mr-4 hover:underline md:mr-6">News</a>
            </li>
            <li>
                <a href="/blog/explore" class="mr-4 hover:underline md:mr-6 ">Blog</a>
            </li>
            <li>
                <a href="/video/explore" class="hover:underline">Videos</a>
            </li>
        </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="/" class="hover:underline">TheTrialBallCrickerters</a>.  Created By Meheer.
</footer>